@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: "Comfortaa", sans-serif;
}

img{
    width: 100%;
    display: block;
}
h2 {
    text-align: center;
    margin-top: 20px;
}

table {
    /* border-collapse: collapse;
    overflow:visible; */
    margin-top: -6%;
    width: 97%;
    background-color: #e6e6e6;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    /* border-top: 1px solid #000000; */
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color:#f7f7f7;
}
/* 
tr:nth-child(even):hover {
    background-color: #fff;
} */

/* tr:hover {
    background-color: #f2f2f2;
} */
.main-wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;
    padding: 0 1rem;
}
.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    column-gap: 10px;
}
.product-div-left{
    padding: 20px;
    text-align: left;
}
.product-div-right{
    margin-top: 10%;
    padding: 20px;
}
.img-container img{
    width: 80%;
    padding: 1%;
    border: 1px solid #000;
    border-radius: 1px;
    margin: 0 auto;
}
.hover-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.hover-container div{
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border: 1px solid #FF4400;
    border-color: #FF4400 !important;
}
.hover-container div img{
    width: 80px;
    padding: 5%;
    border-radius: 1px;
    cursor: pointer;
}
.product-div-right span{
    display: block;
}
.product-name{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}
.product-price{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}
.product-rating{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.product-rating span{
    margin-right: 6px;
}
.product-description{
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}
.btn-groups{
    margin-top: 22px;
}
.btn-groups button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-groups button .fas{
    margin-right: 8px;
}
.add-cart-btn{
    background-color:black;
    border-radius: 5px;
    border: none;
    margin-right: 8px;
    transform: .3s;
}
.add-cart-btn:hover{
    background-color: #FF4400;
    /* box-shadow: 0 0 10px 5px rgb(255, 136, 93); */
}
.buy-now-btn{
    background-color: #000;
    border: 2px solid #000;
}
.buy-now-btn:hover{
    background-color: #fff;
    color: #000;
}
.rating{
    margin-left: 5%;
}
 .rating p{
    padding:-10px;
 }
 
 .rating p i{
    color: #FF4400;
 }
 
 .rating p span{
    color: #000;
 }
 

@media screen and (max-width: 992px){
    .product-div{
        grid-template-columns: 100%;
    }
    .product-div-right{
        text-align: center;
    }
    .product-rating{
        justify-content: center;
    }
    .product-description{
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px){
    .btn-groups button{
        width: 100%;
        margin-bottom: 10px;
    }
}